@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181719;
  color: white;
}

.container {
  padding: 20px 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  border: 1px solid white;
  text-transform: uppercase;
  font-family: "Crimson Pro", serif;
  font-size: 14px;
  margin-bottom: 0;
  padding: 5px 5px 0 5px;
  max-width: 103px;
}

#open-menu {
  width: 28px;
}

nav {
  display: none;
}

.text-section h1 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 36px;
  padding-top: 35px;
}
.text-section p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 250px;
  padding-top: 30px;
}
.text-section a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 30px;
}
.text-section a span {
  font-size: 20px;
  padding-left: 5px;
}

.img-section {
  position: relative;
}
.img-section .main-img {
  width: 351px;
}
.img-section .label {
  background-color: #181719;
  width: 300px;
  height: 138px;
  position: absolute;
  bottom: -80px;
  right: 10px;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.25);
}
.img-section .label .profile-photo {
  width: 36.6px;
  border-radius: 50%;
  float: left;
  margin: 12px 15px 5px 20px;
}
.img-section .label p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.img-section .label .name {
  font-size: 12px;
  margin-top: 17px;
}
.img-section .label .job-title {
  font-size: 10px;
  color: #828282;
  margin-top: 5px;
}
.img-section .label h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 18px;
  padding-top: 15px;
  margin-left: 20px;
  width: 210px;
}

footer {
  margin-top: 150px;
  width: 100%;
  text-align: center;
  color: #A9A9A9;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
footer a {
  font-weight: 700;
  color: #A9A9A9;
}

nav.menu-display {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  height: 700px;
  z-index: 999;
  background-color: #181719;
}
nav.menu-display #exit-menu {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}
nav.menu-display ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
nav.menu-display li {
  list-style: none;
  margin-top: 35px;
}
nav.menu-display a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.current {
  font-weight: 700;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

@media (min-width: 450px) {
  .container {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
  #open-menu, #exit-menu {
    display: none;
  }
  nav {
    display: block;
    flex-direction: row;
  }
  nav ul {
    display: flex;
  }
  nav li {
    list-style: none;
    padding-right: 10px;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
  }
  .text-section p {
    width: 350px;
  }
  .img-section .main-img {
    width: 400px;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 910px;
    padding: 40px 50px;
  }
  .main-section {
    display: flex;
    margin-top: 130px;
  }
  nav li {
    padding-right: 40px;
  }
  .img-section .main-img {
    width: 450px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
    padding: 45px 80px;
  }
  nav a {
    font-size: 18px;
  }
  nav li {
    padding-right: 70px;
  }
  .main-section .text-section {
    padding-top: 140px;
  }
  .main-section .text-section h1 {
    font-size: 48px;
  }
  .main-section .text-section p {
    font-size: 24px;
    width: 410px;
  }
  .main-section .text-section a {
    font-size: 18px;
  }
  .main-section .text-section span {
    font-size: 24px;
  }
  .main-section .img-section {
    margin-left: 140px;
    margin-top: 50px;
  }
  .main-section .img-section .main-img {
    width: 737px;
  }
  .main-section .img-section .label {
    bottom: -100px;
    right: 30px;
    width: 410px;
    height: 190px;
  }
  .main-section .img-section .label .profile-photo {
    width: 50px;
    margin: 20px 20px 10px 30px;
  }
  .main-section .img-section .label .name {
    font-size: 14px;
    margin-top: 25px;
  }
  .main-section .img-section .label .job-title {
    font-size: 12px;
  }
  .main-section .img-section .label h2 {
    font-size: 24px;
    padding-top: 30px;
    margin-left: 30px;
    width: 287px;
  }
  footer {
    margin-top: 200px;
  }
}/*# sourceMappingURL=style.css.map */